body{
    font-family: 'Poppins', sans-serif;
}

.mynavbar{
    background-color: #6c63ff;
}
.navbar {

    font-weight: 900;
    background-color:#6c63ff;
}

.nav-link{

    color: white;
}

.navbar-brand{

    color: white;
}

.banner-heading{

    font-size: 72px;
    font-weight: 900;
}

.banner{
    background-color: #6c63ff;
    color: white;
}

.banner-btn{
    background-color: rgb(111, 169, 169);
    color: white;
    padding: 12px 58px;
    border-radius: 30px;
    font-size: 21px;
}

.banner-btn{
    background-color: white;
    color:#6c63ff;
    
    
}
.banner-text{
    font-size: 24px;
}
.text-sub{
color:#6c63ff;
font-weight: 700;
font-size: 24px;
}
.text-title{
    font-weight: 700;
    font-size: 35px;

}
.text-link{
    font-weight: 700;
    text-decoration: none;
    color: black;
   ;
}

}
.text-p{
    font-size: 18px;
    font-weight: 400;
    
}
.navbar-brand{
    font-size: 40px;
}
.about-img{
    margin-left: -265px;
}
.service-img-background{
    background-color: beige;
    border-radius: 80%;
}
.service-img-background {
    margin-top: -100px;
    margin-left: 46px;
}

.service-icon{
    background-color: beige;
    border-radius: 50%;
    padding: 13px;
    width: 53px;
    display: block;
    height: 53px;
    
    text-align: center;
    
}

.service-title{
    font-size: 21px;
    font-weight: 700;
}

 .service-card:hover span{
    transform: translateX(50px);
 }

 .service-icon{
    transition:0.8s;
 }
 .full section{
    background-color: aliceblue;
 }
 .text-secondary{
    color: azure;
 }
 
 .prouduct-card{
    border-bottom: 4px solid #6c63ff;
 }